header {
    height: calc(100vh - 55px);
}

#img-header {
    height: 100vh;
    width: 100vw;
}

.intro {
    text-align: center;
    padding-top: 20px;
}

#jeffrey-pic {
    height: 75vh;
    border-radius: 5%;
    padding-top: 20px;
}